@import "../utils/variables";

.hero {
  background-image: url("../../assets/img/bank-tree.webp");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;

  @media (min-width: 1024px) {
    height: 400px;
    background-position: center 33%;
  }
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: $background-color;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;

  .subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
  .text {
    font-size: 0.9rem;
    margin: 20px 0 0 0;
  }

  @media (min-width: 920px) {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;

    .subtitle {
      font-size: 1.5rem;
    }
    .text {
      font-size: 1.2rem;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.feature-item {
  flex: 1;
  padding: 2.5rem;

  .feature-icon {
    width: 100px;
    border: 10px solid $secondary-color;
    border-radius: 50%;
    padding: 1rem;
  }

  .feature-item-title {
    color: $text-color;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
