$primary-color: #2c3e50;
$secondary-color: #00bc77;
$text-color: #222;
$background-color: #fff;
$dark-background-color: #12002b;
$error-color: red;

// Fonts
$primary-font: "Avenir", "Helvetica", "Arial", sans-serif;
